# Compilation files for TeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.dvi
*.synctex.gz

# Vim swap files
*.swp

# Terminal background file output
nohup.out

# .idea files that are specific for each user
OOPP/.idea/modules.xml
OOPP/.idea/misc.xml
OOPP/.idea/runConfigurations.xml
OOPP/.idea/vcs.xml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/OOPP-TDA367-DIT212.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
OOPP/.classpath
OOPP/.project
